.forecast-daily-block {
  font-size: 80px;
  max-height: 109px;
  overflow: hidden;
  transition: all 1s;
  padding: 10px;
}

.forecast-daily-block:hover {
  max-height: 250px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(15,15,23,1) 0%, rgba(255,255,255,0.1) 55%);
}

.forecast-content:hover .forecast-daily-block:not(:hover) {
  opacity: 0.3;
}

.forecast-daily-block:not(:first-child) {
  padding-left: 30px;
}

.p {
  font-size: 22px;
}
.forecast-additional {
  font-size: 18px;
}

.forecast-daily {
  display: flex;
}

.forecast-daily img {
  position: relative;
  top: -25px;
  left: -15px;
}

.forecast-content {
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 749px) {
  .forecast-content {
    display: block;
  }
  .forecast-daily-block {
    display: flex;
    flex-wrap: wrap;
  }
  .forecast-daily-block {
    max-height: none;
    background: none;
  }
  .forecast-additional {
    padding-top: 40px;
    font-size: 14px;
  }
  .forecast-main {
    min-width: 250px;
  }
  .forecast-daily-block:not(:first-child) {
    padding-left: 10px;
  }
}

@media (max-width: 590px) {
  .p {
    font-size: 18px;
  }
  .forecast-daily {
    font-size: 48px;
  }
  .forecast-main {
    min-width: 150px;
  }
  .forecast-additional {
    font-size: 12px;
  }
}

@media (max-width: 402px) {
  .p {
    font-size: 14px;
  }
  .forecast-daily img {
    height: 50px;
    top: -15px;
    left: 0;
  }
  .forecast-main {
    min-width: 120px;
  }
  .forecast-additional {
    font-size: 10px;
  }
  .weather-temp {
    font-size: 38px;
  }
}
