<div *ngIf="weather" class="forecast-content">
  <div *ngFor="let daily of weather.daily" class="forecast-daily-block">
    <div class="forecast-main">
      <p class="p">{{ getFormattedDayOfWeek(daily.dt) }}</p>
      <div class="forecast-daily">
        <p>{{ daily.temp.day.toFixed(0) }}&#xb0;</p>
        <img [src]="getIconUrl(daily.weather[0].icon)" [alt]="daily.weather[0].main" height="100px"/>
      </div>
    </div>
    <div class="forecast-additional">
      <p>{{ daily.weather[0].description }}</p>
      <p>{{ getLikeFeelsText() }}: {{ daily.feels_like.day.toFixed(0) }}&#xb0;</p>
      <p>{{ getWindText() }}: {{ daily.wind_speed }} {{ getWindSpeedText() }}</p>
      <p>{{ getHumidityText() }}: {{ daily.humidity }}&#37;</p>
    </div>
  </div>
</div>
