<div class="weather-block">
  <div *ngIf="location">
    <div class="weather-location">
      {{ location.results[0].components.city }}<label *ngIf="location.results[0].components.city">,</label> {{ location.results[0].components.country }}
    </div>
    <div class="weather-date">
      {{ formattedDate }}
    </div>
    <div class="weather-data" *ngIf="weather">
      <div class="weather-temp">
        {{ weather.current.temp.toFixed(0) }}
      </div>

      <div>
        <img [src]="getIconUrl()" [alt]="weather.current.weather[0].main" height="100px">

        <div class="weather-info">
          <p>{{ weather.current.weather[0].description }}</p>
          <p>{{ getLikeFeelsText() }}: {{ weather.current.feels_like }}&#xb0;</p>
          <p>{{ getWindText() }}: {{ weather.current.wind_speed }} {{ getWindSpeedText() }}</p>
          <p>{{ getHumidityText() }}: {{ weather.current.humidity }}&#37;</p>
        </div>
      </div>
    </div>
  </div>

  <app-forecast></app-forecast>
</div>
