.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}

.left-block {
  display: flex;
  margin-left: 6vw;
}

.right-block {
  position: relative;
  display: flex;
  margin-right: 6vw;
}

.search-input {
  width: 274px;
  height: 44px;
  border: 1px solid rgba(180, 184, 187, 0.7);
  border-radius: 5px 0 0 5px;
  background: rgba(76, 82, 85, 0.7);
  padding: 13px 15px;
}

.search-button {
  width: 100px;
  margin-left: 0;
  border-radius: 0 5px 5px 0;
}

.search-input::placeholder {
  color: white;
  opacity: 1;
  font-family: Motrserrat, Helvetica, sans-serif;
  font-size: 14px;
}

.update-button {
  background-size: 44px;
  background: rgba(180, 184, 187, 0.7)
    url(../../assets/icons/refresh_button.svg) no-repeat bottom;
}

.spinner {
  width: 44px;
  height: 44px;
  background: url(../../assets/icons/spinner.svg) 50% no-repeat;
}

.drop-down-menu-button {
  width: 71px;
}

.drop-down-menu-button.active {
  border-radius: 5px 5px 0 0;
}

.drop-down-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    border-radius 0.2s;
  position: absolute;
  z-index: 1;
}

.drop-down-menu.active {
  max-height: 200px;
}

.menu-item {
  width: 71px;
  display: flex;
  border-radius: 0;
  justify-content: center;
}

.menu-item:last-child {
  border-radius: 0 0 5px 5px;
}

.menu-item.active {
  color: #535b5f;
  cursor: default;
}

.arrow-down {
  display: inherit;
  width: 13px;
  height: 13px;
  margin-left: 10px;
  background: url(../../assets/icons/arrow_down.svg) no-repeat bottom;
}

.arrow-down.reversed {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.button-f {
  border-radius: 5px 0 0 5px;
}

.button-c {
  border-radius: 0 5px 5px 0;
}

.lang-menu,
.button-f {
  margin-left: 10px;
}

.button-f,
.button-c {
  opacity: 1;
}

.button-f.active,
.button-c.active {
  opacity: 0.7;
  cursor: default;
}

button {
  color: #fff;
  width: 44px;
  height: 44px;
  text-transform: uppercase;
  transition: all 0.2s;
  background: rgba(174, 181, 185, 1);
  opacity: 1;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
  font-family: Motrserrat, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  opacity: 0.7;
}

input {
  outline: none;
}

@media (max-width: 678px) {
  .buttons {
    justify-content: center;
    margin-left: 0;
  }
  .left-block {
    order: 1;
    margin-top: 30px;
  }
  .right-block {
    margin-left: 6vw;
  }
}

@media (max-width: 400px) {
  .search-input {
    width: 200px;
  }
}
